*{
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    /* background-image: linear-gradient(to right top, #803262, #863d82, #804da5, #6860c9, #1276eb); */
    background-color: #4c76c1;
    background-repeat: no-repeat;
}

.mainContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer{
    position: absolute;
    bottom: 0;
    padding: 10px 0px;
}

.footer-declaration{
    color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header{
    position: absolute;
    top: 0;
    margin: 15px 0px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-declaration{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
}

.game-header{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.game-mode-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.selected-game-mode{
    padding: 16px 24px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fca518 !important;
    border-bottom: 2px solid #eb970a;
    box-shadow: 0px 0px 1px 2px hsl(37deg 97% 54% / 10%), inset 0px 3px 2px 2px #ffae2b, inset 0px -2px 2px 0px #d78908 !important;
    border-top: 1px solid #eb970ab0 !important;
    border-right: 1px solid #eb970ab0 !important;
    border-left: 1px solid #eb970ab0 !important;
    color: white !important;
    backdrop-filter: blur(7.3px);
}

.game-mode{
    padding: 16px 24px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #5f80ba30;
    color: rgba(255, 255, 255, 0.2);
}

.game-child{
    display: none;
}

.landing-page-child{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw; */
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    position: absolute;
    height: 60vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-level-dropdown{
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    width: inherit;
    margin: 15px 0px;
    list-style: none;
}

.game-level-dropdown > li{
    font-size: 25px;
}

.game-level{
    font-size: 20px;
    color: #4c76c1;
    margin-left: 20px;
}

.sudoku-table{
    /* border: 2px solid black; */
    margin: 20px 0px;
}

.sudoku-main-table{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.generateButton{
    /* padding: 15px 30px;
    border: none;
    border-radius: 10px;
    color: #4c76c1;
    cursor: pointer;
    margin: 15px 0px;
    font-size: 20px; */
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 15px 0px;
    font-size: 20px;
    background-color: #4c76c1;
    border-bottom: 2px solid #385993;
    box-shadow: 0px 0px 1px 2px rgb(76 118 193 / 20%), inset 0px 3px 0px 2px #527bc3, inset 0px -2px 2px 0px #385993;
    border-top: 1px solid #3859936b;
    border-right: 1px solid #3859936b;
    border-left: 1px solid #3859936b;
}

.cell-row{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cell{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: aliceblue;
}

@media screen and (min-width: 550px){
    .cell{
        font-size: 25px;
        width: 50px;
        height: 50px;
    }

    .cell-input{
        font-size: 25px !important;
    }

    .sudoku-table{
        max-width: 100vw;
    }
}

.cell-input{
    width: inherit;
    height: inherit;
    font-size: 20px;
    text-align: center;
    border: none;
    background: none;
    caret-color: #b6b6b6;
    cursor: pointer;
}

.cell-input:focus{
    outline: none;
    cursor: pointer;
}

.cell:hover{
    cursor: pointer;
    background-color: #c1d7ff !important;
}

.highlight-cell{
    background-color: #c1d7ff7d !important;
}

.cell-normal-border{
    border-right: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
}

.cell-bottom-border{
    border-bottom: 1px solid #b6b6b6;
}

.cell-right-border{
    border-right: 1px solid #b6b6b6;
}

.cell-right-bold-border{
    border-right: 2px solid black;
    border-bottom: 1px solid #b6b6b6;
}

.cell-right-only-bold-border{
    border-right: 2px solid black;
}

.cell-bottom-bold-border{
    border-right: 1px solid #b6b6b6;
    border-bottom: 2px solid black;
}

.cell-bottom-only-bold-border{
    border-bottom: 2px solid black;
}

.cell-corner-bold-border{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

/* .area{
    backdrop-filter: blur(4px);
} */

.squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.squares li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 8s linear infinite;
    bottom: -150px;
}

.squares li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.squares li:nth-child(2) {
    left: 10%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 12s;
}

.squares li:nth-child(3) {
    left: 70%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
}

.squares li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.squares li:nth-child(5) {
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}

.squares li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}

.squares li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 4s;
}

.squares li:nth-child(8) {
    left: 50%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 30s;
}

.squares li:nth-child(9) {
    left: 20%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 25s;
}

.squares li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.squares li:nth-child(11) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.squares li:nth-child(12) {
    left: 50%;
    width: 70px;
    height: 70px;
    animation-delay: 2s;
    animation-duration: 7s;
}

.squares li:nth-child(13) {
    left: 20%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.squares li:nth-child(14) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}